.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.container__logo--one {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  left: 240px;
  top: 74px;
  background: #9C69E2;
  border-radius: 20px;
}

.container__logo--two {
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 35px;
  left: 269px;
  top: 59px;
  background: #F063B8;
  border-radius: 20px;
}

.container__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  position: relative;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 160%;
  line-height: 160%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 70px;
  margin-bottom: 30px;
}

.container__item--About {
  position: absolute;
  width: 53px;
  height: 30px;
  left: 410px;
  top: 62px;
  color: #212353;
}

.container__item--Help {
  position: absolute;
  width: 35px;
  height: 26px;
  left: 503px;
  top: 64px;
  color: #4B5D68;
}

.container__item--Features {
  position: absolute;
  width: 63px;
  height: 26px;
  left: 578px;
  top: 64px;
  color: #4B5D68;
}

.container__item--Signup {
  position: absolute;
  width: 51px;
  height: 26px;
  left: 681px;
  top: 64px;
  color: #4B5D68;
}

li {
  display: inline;
}

.container__button--demo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 210px;
  height: 60px;
  left: 1150px;
  top: 47px;
  border-color: white;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
          box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
}

.container__button--demo {
  border: none;
  position: absolute;
  left: 1220px;
  top: 34px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 160%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.005em;
  color: #212353;
}

.container__button--back {
  position: absolute;
  width: 20px;
  height: 0px;
  left: 131px;
  top: 7px;
  border: 2px solid #9C69E2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container__button--top {
  position: absolute;
  width: 14px;
  height: 6px;
  left: 145px;
  top: 7px;
  border: 2px solid #9C69E2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

.container__h1 {
  position: absolute;
  width: 645px;
  height: 184px;
  left: 240px;
  top: 237px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Helvetica;
  font-weight: 700;
  font-style: normal;
  font-size: 80px;
  line-height: 110%;
  color: #212353;
}

.container__paragraph {
  position: absolute;
  width: 380px;
  height: 120px;
  left: 240px;
  top: 471px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4B5D68;
}

.container__button--learn {
  border: none;
  position: absolute;
  width: 170px;
  height: 60px;
  left: 240px;
  top: 641px;
  background: #9C69E2;
  border-radius: 50px;
}

.container__image {
  position: absolute;
  width: 885px;
  height: 468px;
  left: 603px;
  top: 333px;
}

.container__Banner {
  position: absolute;
  width: 1117px;
  height: 560px;
  left: 240px;
  top: 903.18px;
  background: rgba(240, 90, 184, 0.15);
  border-radius: 50px;
}

.container__Banner--img2 {
  width: 477px;
  height: 504px;
  left: 251px;
  top: 935px;
  background: url(./img/image2.png);
}

.container__Banner--Heading {
  width: 475px;
  height: 100px;
  left: 990px;
  top: 1028.18px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  color: #212353;
}

.container__Banner--Paragraph {
  width: 474px;
  height: 170px;
  left: 790px;
  top: 1168.18px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4B5D68;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1137.28px;
  height: 1026px;
  left: 220px;
  top: 1613px;
}

.features__header {
  position: absolute;
  width: 405px;
  height: 52px;
  left: 596.29px;
  top: 1613px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  /* identical to box height, or 52px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #212353;
  z-index: 1000;
}

.features__paragraph {
  position: absolute;
  width: 584px;
  height: 58px;
  left: 507.29px;
  top: 1715px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  /* or 29px */
  text-align: center;
  /* 1 */
  color: #4B5D68;
}

.features__searchData {
  width: 442px;
  height: 358px;
  left: 328.29px;
  top: 1873px;
  background: #68C9BA;
  border-radius: 50px;
  z-index: 1000;
}

.features__image3 {
  width: 232px;
  height: 211px;
  left: 239px;
  top: 1946px;
  z-index: 1000;
}

.features__shape {
  position: absolute;
  width: 203.82px;
  height: 118.6px;
  left: 674.41px;
  top: 2070.99px;
  z-index: 1000;
  border: 1.5px solid #FFFFFF;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.features__shape2 {
  position: absolute;
  width: 33.7px;
  height: 19.91px;
  left: 621.4px;
  top: 1916.88px;
  z-index: 1000;
  border: 1.5px solid #FFFFFF;
  -webkit-transform: rotate(20.72deg);
          transform: rotate(20.72deg);
}

.features__twinteyFour {
  position: absolute;
  width: 442px;
  height: 358px;
  left: 915.28px;
  top: 1873px;
  background: #9C69E2;
  border-radius: 20px;
}

.features__twinteyFour__shape {
  position: absolute;
  width: 222.22px;
  height: 129.3px;
  left: 1199.72px;
  top: 2019px;
  border: 1.5px solid #FFFFFF;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.features__printOut {
  position: absolute;
  width: 442px;
  height: 358px;
  left: 328.29px;
  top: 2281px;
  /* 4 */
  background: #F063B8;
  border-radius: 50px;
}

.features__securityCode {
  position: absolute;
  width: 442px;
  height: 358px;
  left: 915.28px;
  top: 2281px;
  /* Blue 2 */
  background: #2D9CDB;
  border-radius: 20px;
}

.container__testimonials {
  position: absolute;
  width: 1118px;
  height: 709px;
  left: 242px;
  top: 2789px;
  /* 4 */
  background: #F063B8;
  border-radius: 50px;
}

.testimonials__testimonialBlock {
  position: absolute;
  width: 400px;
  height: 330px;
  left: 1000px;
  top: 3038px;
  background: -webkit-gradient(linear, right top, left top, color-stop(9.75%, #9C69E2), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(270deg, #9C69E2 9.75%, rgba(255, 255, 255, 0) 100%);
  /* 3 */
  border: 1px solid #9C69E2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
}
/*# sourceMappingURL=style.css.map */